.featured{
  padding:40px;
  background:#fff;
}

.featured h2{
  margin-bottom:20px;
}

.featured-list{
  display:flex;
  gap:20px;
}

.featured-card{
  flex:1;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 6px 16px rgba(0,0,0,0.1);
  transition:0.3s;
}

.featured-card:hover{
  transform:translateY(-6px);
}

.featured-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.featured-card h4{
  padding:12px;
  text-align:center;
}
